svg {
    width: 300px;
    display: block;
    position: absolute;
  }
  
  .ball {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    
    offset-path: path('M10 0 Q 0 0, 0 0 T 0 0');
    offset-distance: 0%;
  
    animation: red-ball .5s linear alternate infinite;
  }
  
  @keyframes red-ball {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
  }